# from https://wiki.archlinux.org/index.php/GnuPG#Start_gpg-agent_with_systemd_user
[Unit]
Description=GnuPG private key agent
IgnoreOnIsolate=true

[Service]
Type=forking
ExecStart=/usr/bin/gpg-agent --daemon
Restart=on-abort

[Install]
WantedBy=default.target
