[color]
	ui = auto
	branch = auto
	diff = auto
	status = auto
[user]
	name = Marcel Huber
	email = marcelhuberfoo@gmail.com
[daemon]
	receivepack = true
	uploadpack = true
	uploadarch = true
[core]
	excludesfile = ~/.gitignore
	editor = vim
	filemode = true
[help]
	autocorrect = 4
[merge]
	keepBackup = false
	tool = vimdiff
	defaultToUpstream = true
[diff]
	mnemonicprefix = true
	tool = vimdiff
	renameLimit = 4096
[alias]
	hist = log --pretty=format:\"%h %ad |%d %s [%an]\" --graph --date=short
	s = status --short --branch --ignore-submodules=untracked
	changelog = log --date=short --pretty=format:\"%cd %cn <%ce>%n%n     %d%n%w(79,6,6)%s%n%+b%n\"
	changes = log --date=short --pretty=format:\"%d%n- %cd %cn%n%n%w(79,4,4)%s%n%+b%n\"
	logg = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
[log]
	decorate = short
[branch]
	autosetuprebase = always
[push]
	default = tracking
[credential]
	helper = cache --timeout 36000
#	helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	clean = git-lfs clean -- %f
	required = true
[filter "gitcrypt"]
	smudge = git-crypt smudge
	clean = git-crypt clean
	required = true
[diff "ps"]
	textconv = ps2ascii
	binary = true
[diff "img"]
	textconv = exiv2
	cachetextconv = true
[diff "odf"]
	textconv = odt2txt
[diff "gitcrypt"]
	textconv = git-crypt diff
